<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InvioSchedineAlloggiatiWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" maxReceivedMessageSize="10485760">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap1" maxReceivedMessageSize="10485760" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://alloggiatiweb.poliziadistato.it/service/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="AlloggiatiWeb.ServiceSoap" name="ServiceSoap" />
        </client>
    </system.serviceModel>
    <userSettings>
        <InvioSchedineAlloggiatiWeb.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value></value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value></value>
            </setting>
            <setting name="WSKey" serializeAs="String">
                <value></value>
            </setting>
            <setting name="CartellaSchedine" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="CartellaRicevute" serializeAs="String">
                <value>.</value>
            </setting>
        </InvioSchedineAlloggiatiWeb.Properties.Settings>
    </userSettings>
</configuration>
